.card, .form-control, .btn, .alert{
  border-radius: 0px;
}

.icon-left-margin{
  margin-left: 5px;
}

footer > p{
  margin-bottom: 0px;
}

footer{
  margin-top: 40px;
}

.btn > i{
  margin-right: 5px;
}

.subtitle{
  font-size: 24px;
}

.pagination-buttons > a{
  color: black;
  font-size: 18px;
}

.table-controls > .btn{
  margin-left: 20px;
}